*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

  background-color: black;
  min-height: 100vh;
  color: white;
  /* position: relative; */

}

.container{
  max-width: 1440px;
  margin: 0 auto;
  background-color: #FFFFFF;
  /* position: relative; */

}



 /* --------------------------------<Header> Navigation </Header>------------------------------------- */

header{
    /* background-position: center; */
    position: absolute;
    z-index: 1;
  
}


.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1440px;
    height: 96.43px;  
}

.navigation .logo{
    font-family: "Roboto", sans-serif;
    width: 140px;
    height: 41px;
    top: 27px;
    left: 100px;
    font-size: 32.8px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    
    background: linear-gradient(to right, #9932CC, #FF69B4);
    background-clip: text;
    color: transparent;
    
}

nav ul{
    display: flex;
    list-style: none;
    width: Hug(545px);
    height: Hug(48px) ;
    top: 26px;
    left: 326px;
    gap: 24px;  
}



nav ul a{
    text-decoration: none;
    text-transform: none;
    font-family: "Open Sans", sans-serif;
    width: 83px;
    height: 48px;
    font-size: 16px;
    line-height: 48px;
    letter-spacing: -2%;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    transition: all 0.3s ease;
    color: #FFFFFF;
  
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav ul li {
  text-decoration: none;
}

/* nav ul:hover a{
  color: black;
} */


nav ul:hover a:hover{
  color: #ff8800;
  box-shadow: 0 2px 0 0 currentColor;
}


.button{
  cursor: pointer;
}

.button button {
    margin-left: 10px;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button .login {
    background-color: transparent;
    color: white;
    border: none;
  }
  
  .button .register {
    background-color: #FFFFFF;
    color: #FF6F28;
    transition: all 0.3s ease;
  }

  .button .register:hover{
    background-color: #ff8800;
    color: #FFFFFF;
  }
/* -----------------------------------------Text & Get Started--------------------------------------- */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url(./iimg/head_br.png) ;
  height: 700px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;

  position: relative;
 
}
  

.content{
    display: flex;
    flex-direction: column;
    width: 734px;
    height: 180px;
    top: 164px;
    left: 327px;
    align-items: center;
    text-align: center;
    gap: 20px;
    color: #FFFFFF;

    ;
}

.content h1 {
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 0%;
    font-weight: 700;
  }
  
.content p {
    font-family: "Source Code Pro", monospace;
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.6;
  }
  
.getst {
    font-family: "Source Code Pro", monospace;
    background-color: orange;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .getst:hover {
    background: #ff8800;
    transform: scale(1.05);
    box-shadow: 0px 8px 20px rgba(255, 140, 0, 0.5);
    background-color: #FFFFFF;
    color: #ff8800;
  }

/* -----------------------------------Live chat  Examination  Competition--------------------------------- */


.features {
  position: absolute;
  bottom: -70px; 
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 40px 20px;
  background: white;
  border-radius: 20px;
  width: 80%;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  /* z-index: 1; */
}

.feature-item {
  text-align: center;
}

.icon {
  width: 60px;
  height: 60px;
  background: #ffe5d4;
  color: orange;
  font-size: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;
}

/* .icon:hover{
  background: #ff8800;
  transform: scale(1.05);
  box-shadow: 0px 8px 20px rgba(255, 140, 0, 0.5);
  background-color: #FFFFFF;
  color: #ff8800;
} */

.text {
  font-weight: 600;
  font-size: 18px;
  color: black;
}

/* ----------------------------------Top Categories---------------------------------------------- */

.categories {
  padding: 60px 80px;
  background-color: #FFFFFF;
  margin-top: 50px;
}

.categories-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  padding: 0 10px;
}

.categories-header h2 {
  font-size: 32px;
  color: black;

}

.see-all {
  display: flex;
  text-decoration: none;
  color: orange;
  font-weight: 600;
  margin: 25px 45px 25PX 0;
  justify-content: end;
}

.categories-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;

}

.categories-card {
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  text-align: center;
  cursor: pointer;

  position: relative;
  /* width: 300px;
  height: 400px; */

}

.categories-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 35px rgba(255, 140, 0, 0.5);
}

.categories-card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  /* filter: blur(0.5px); */
  /* opacity: 0.8; */
  display: block;
  filter: brightness(75%);
 
}

.categories-card .categories-effect {
  color: white;
  position: absolute;
  bottom: -180px;
  width: 250px;
  height: auto;
  padding: 20px 20px;
  transition: all 0.4s ease;
}

.categories-card:hover .categories-effect{
  bottom: 0px;
}


.categories-card .categories-effect h3{
  font-weight: bold;
    /* width: 50px;
  height: 30px; */
  font-size: 30px;
  text-align: left;
  margin-bottom: 15px;
}
.categories-card .categories-effect p{
  font-size: 15px;
  text-align: left;
  
}

/* --------------------------------------backtop------------------------ */

#backtop{
  width: 50px;
  height: 50px;
  font-size: 22px;
  color: #FF6F28;
  background: #ffe5d4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  bottom: 45px;
  right: 50px;
  cursor: pointer;

  transition: all 0.3s ease;

}

#backtop:hover{
  background-color: greenyellow;
}



/* --------------------------------------JS---------------------- */



.bar{
  display: none;
  font-size: 20px;
  color: #ff8800;
  cursor: pointer;
 
}


@media only screen and (max-width:900px){
    .container header nav {
      display: none;
    }

    .bar{
     position: relative;
     display: block;
    z-index: 100;
    }


}


@media only screen and (max-width:750px){


  .content{
      width: 366px;
      height: 96px;
      top: 197px;
      left: 40px;

  }
  
  .content h1 {
      font-family: "Poppins", sans-serif;
      font-size: 32px;
      line-height: 100%;
      letter-spacing: 0%;
      font-weight: 700;
    }
    
  /* .content p {
      font-family: "Source Code Pro", monospace;
      font-size: 18px;
      margin-bottom: 20px;
      line-height: 1.6;
      flex-wrap: nowrap;

    } */


  
    




  
}



@media only screen and (max-width:550px){
  .features{
    flex-wrap: wrap;
    width: 370px;
    height: 135px;
  }

  .features .icon{
    width: 50px;
    height: 50px;
    background: #ffe5d4;
    color: orange;
    font-size: 15px;
    /* border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 5px; */
  }

  .text {
    font-weight: 550;
    font-size: 15px;
    color: black;
  }


  /* .categories-header {
    font-size: 24px;
    flex-wrap: nowrap;
    width: 221px;
    height: 36px;
   } */

}





